<?xml version="1.0"?>
<launch>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="world_name" default="$(find main_simulator)/worlds/obstacles_dynamic.world" />

  <!-- World/model search paths -->
  <env name="GAZEBO_MODEL_PATH" value="$(find models)"/>

  <!-- Start Gazebo with a specific world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="0"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="world_name" value="$(arg world_name)"/> 
    <arg name="paused" value="false"/>
  </include>

  <!-- Spawn the MAIN ROBOT -->
  <include file="$(find nexus_4wd_mecanum_description)/launch/nexus_4wd_mecanum_description_depth-camera_2d-lidar.launch" />
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -model nexus_4wd_mecanum -param robot_description -x 0.0 -y 0.0 -z 0.5" />

  <!-- Generate local heightmap -->
  <node pkg="local_costmap_generator" type="heightmap_node" name="heightmap_node" output="screen">
    <param name="full_clouds" value="true" /> 
  </node>

  <!-- Generate local costmap -->
  <node pkg="local_costmap_generator" type="heightmap_costmap_node" name="heightmap_costmap_node" output="screen">
  </node>

  <!-- Publish global map -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find global_occupancy_grid_mapper)/result/my_map.yaml"/>

  <!-- Map to Odom -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom"
        args="0 0 0 0 0 0 map odom" />

  <!-- Move base local planner -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <!-- ROS Parameters -->
    <rosparam file="$(find move_base_planner)/dynamic_config/teb_local_planner_params.yaml" command="load" />
    <rosparam file="$(find move_base_planner)/dynamic_config/move_base_params.yaml" command="load" />
    <rosparam file="$(find move_base_planner)/dynamic_config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find move_base_planner)/dynamic_config/costmap_global_params.yaml" command="load" />
    <rosparam file="$(find move_base_planner)/dynamic_config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find move_base_planner)/dynamic_config/costmap_local_params.yaml" command="load" />
    <!-- Remapping -->
    <remap from="cmd_vel" to="/cmd_vel"/>
    <remap from="odom" to="/odom"/>
  </node>

  <!-- RVIZ visualization -->
  <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find rviz_visualization)/config_p4.rviz"/>
          
  <!-- Graph planner -->
  <node pkg="graph_planner_2" name="graph_planner_node" type="graph_planner_2_node"  respawn="true" output="screen">
      <param name="csv_path"                  value="$(find graph_planner_2)/csv/graph_planner_gazebo.csv" />
      <param name="robot_postion_topic"       value="/odom" />
      <param name="use_rviz_goal"             value="false" />
  </node>

</launch>
